@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  padding-left: 4rem;
}
.searchContainer {
  align-self: center;
}
.homeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.searchContainer input {
  border: none;
  border-bottom: 2px solid #ccc;
  margin: 15px;
  box-shadow: 0px 8px 15px rgb(133, 128, 128);
  padding: 5px;
  border-radius: 20px;
  width: 450px;
  letter-spacing: 1px;
}
.searchContainer input::placeholder {
  padding: 5px;
  letter-spacing: 1px;
}

.searchContainer input:focus {
  outline: none;
  border-bottom: 2px solid #787070;
}
.searchContainer button {
  border: none;
  width: 80px;
  height: 25px;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: rgb(171, 33, 33);
  color: rgb(240, 234, 234);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(133, 128, 128);
  transition: all 0.16s ease 0s;
  outline: none;
}
.searchContainer button:hover {
  background-color: rgb(145, 135, 135);
}
h1 {
  text-align: center;
  padding: 10px;
}
.categoryContainer,
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.categoryContainer button,
.pagination button {
  border: none;
  width: auto;
  padding: 10px;
  background-color: rgb(14, 13, 13);
  color: rgb(240, 234, 234);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(133, 128, 128);
  transition: all 0.16s ease 0s;
  outline: none;
}

.categoryContainer button:hover,
.pagination button:hover {
  background-color: rgb(145, 135, 135);
}

.pagination li {
  list-style-type: none;
}
